@{
    ViewData["Title"] = "Zoek auteur";
}

<div class="text-center">
    <h1 class="display-4">Er is gezocht op letter: @ViewBag.selectedLetter</h1>
        <h1 class="display-4">@ViewBag.selectedAuteurs</h1>
</div>
