@{
    ViewData["Title"] = "Autheur";
}

<div class="text-center">
    U heeft gezocht op letter: @ViewBag.letter
    <br>

    <tr>
        @foreach (Boek boek in @ViewBag.boeken)
        {
            <td>
                @boek.Auteur
            </td>
            <br>
        }
    </tr>

</div>